/* Panel restructuring and styling */
.panel {
    border: 1px dashed rgba(0,0,0, 0.2);
}
.panel-heading {
    margin: none;
}
.panel-heading h4,
.panel-heading p,
.panel-heading label {
    color: white;
}
.panel-heading h4 {
    min-height: 60px;
    padding: 0px;
    margin: 0px;
}
.panel-heading h4 small {
    display: block;
}
.panel-heading .panel-image {
    float: left;
    min-width: 100px;
    text-align: center;
    margin-right: 10px;
}
.panel-heading .panel-image  img {
    display: block;
    margin: auto;
    height: 45px;
    width: auto;
}
.panel-body blockquote {
    margin-bottom: 5px;
}

/* Understanding Slider */
understanding-slider .row {
    margin-bottom: -15px;
    margin-left: 0px;
    margin-right: 0px;
}
understanding-slider label {
    cursor: pointer;
}

/* Resource list */
.resources {
    overflow-x: hidden;
    overflow-y: auto;
    height: 740px;
}

/* Animations */
.resource-summary.ng-move,
.resource-summary.ng-enter,
.resource-summary.ng-leave {
    position: relative;
    -webkit-transition: all linear 1.0s;
    transition: all linear 1.0s;
}

.resource-summary.ng-leave.ng-leave-active,
.resource-summary.ng-move,
.resource-summary.ng-enter {
    opacity: 0;
    left: 100px;
}


.resource-summary.ng-leave,
.resource-summary.ng-move.ng-move-active,
.resource-summary.ng-enter.ng-enter-active {
    opacity: 1;
    left: 0px;
}
