@import url("understanding.css");

/* Logo */
.course-stitch {
    font-family: 'Sacramento', cursive;
    font-weight: normal;
    margin-top: -6px;
}
.course-stitch .course {
    color: #2980b9;
}
.course-stitch .stitch {
    color: #1abc9c;
}
.navbar-brand.course-stitch {
    font-size: 38px;
}
.navbar-brand.beta {
    margin-left: -15px;
    padding-left: 0px;
    padding-top: 10px;
}

/* Home page */
.jumbotron {
    padding-left: 20px !important;
    padding-right: 20px !important;

    color: white;

    background-color: #ACA0A0;
    background-image: url('../images/books_splash.jpg');
    background-size: cover;
    background-position: bottom left;
}

/* Footer */
.footer {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px;
    padding-bottom: 0px;
    border-radius: 6px;
}

/* Tabs styling */
@media (min-width: 768px) {
.nav-tabs > li > a:hover,
.nav-tabs.nav-justified > li > a {
    border-bottom: 1px dashed rgba(0,0,0, 0.2);
}

.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a {
    border-style: dashed;
    border-color: rgba(0,0,0, 0.2);
    border-bottom: none;
}
}

/* Map page */
.maps .panel {
    height: 380px;
}

/* Panel restructuring and styling */
.panel {
    border: 1px dashed rgba(0,0,0, 0.2);
    border-top: none;
}
.panel-heading {
    margin: none;
    padding: 10px;
}
.panel-heading h4,
.panel-heading p {
    color: white;
}
.panel-heading h4 {
    min-height: 60px;
    padding: 0px;
    margin: 0px;
}
.panel-heading h4 small {
    display: block;
}
.panel-heading .panel-image {
    float: left;
    position: relative;
    top: 20px;

    text-align: center;
    margin-right: 10px;
    margin-bottom: 20px;
}

.panel-heading .panel-image .img-circle {
    background-color: #FAFAFA;
}
.panel-heading .panel-image img {
    height: 85px;
    width: auto;
    padding: 15px;
}
.panel-heading .panel-image p {
    width: 85px;

    margin-top: -20px;
    margin-bottom: 5px;

    font-size: 15px;
    line-height: 1.2;
}
.panel-heading label {
    color: white;
}
.panel-body blockquote {
    margin-bottom: 5px;
}

/* Map Styling */
#km {
    margin-top: -1px;
    border: 1px dashed rgba(0,0,0, 0.2);
    border-top: none;
}

#km svg {
    height: 80vh;
}

/* Understanding Slider */
understanding-slider .row {
    margin-bottom: -15px;
    margin-left: 0px;
    margin-right: 0px;
}
understanding-slider label {
    cursor: pointer;
}

/* Understanding progress */
.understanding.progress-vertical .progress-bar {
    border-bottom: 3px solid white;
}

/* Resource understanding */
.well.understanding {
    background: white;
}

/* Resource list */
.resources {
    overflow-x: hidden;
    overflow-y: auto;
    height: 740px;
}

/* External resources */
.media.well[ng-click] {
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.2);
}
.media.well[ng-click]:hover {
    background: #fefefe;
}

/* Animations */
.resource-summary.ng-move,
.resource-summary.ng-enter,
.resource-summary.ng-leave {
    position: relative;
    -webkit-transition: all linear 1.0s;
    transition: all linear 1.0s;
}

.resource-summary.ng-leave.ng-leave-active,
.resource-summary.ng-move,
.resource-summary.ng-enter {
    opacity: 0;
    left: 100px;
}


.resource-summary.ng-leave,
.resource-summary.ng-move.ng-move-active,
.resource-summary.ng-enter.ng-enter-active {
    opacity: 1;
    left: 0px;
}

/* View Animations */
.view {
    -webkit-transition: all linear 0.6s;
    transition: all linear 0.6s;
}

.view.ng-move,
.view.ng-enter,
.view.ng-leave {
    position: fixed;
}

/* Explorer Animations */
.explorer { 
    float: right;
    -webkit-transition: all ease-in 0.6s;
    transition: all ease-in 0.6s;
    background: white;
}

/* OAuth sign up buttons */
.btn-facebook {
    background-color: #3b5998;
    color: #fff;
}
.btn-facebook:hover {
    background-color: #395777;
}

.btn-github {
    background-color: #444;
    color: #fff;
}
.btn-github:hover {
    background-color: #424222;
}

.btn-google {
    background-color: #dd4b39;
    color: #fff;
}
.btn-google:hover {
    background-color: #db4917;
}
