.page-header {
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
}

.dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.input-group-btn .popover-content {
    font-size: 14px;
}

.loading {
    display: block;
    margin: auto;
}

understanding-slider label {
    padding: 0px !important;
}
