.page-header {
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
}

.dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.list-inline > li:first-child {
    padding: 5px;
}

.input-group-btn .popover-content {
    font-size: 14px;
}

.loading {
    display: block;
    margin: auto;
}

understanding-slider label {
    padding: 0px !important;
}

#km .node:hover text {
    fill: #1abc9c;
}

#km .node text {
    fill: #16a085;
    transition: 0.25s;
}

#km .edgePath path {
    stroke: #ccc;
}

#km #arrowhead {
    fill: #ccc !important;
}

#km .node.concept rect {
    fill: #999;
}

#km .node.concept text {
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    fill: #fff;
}
