.page-header {
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
}

.decipher-tags .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.panel-heading .img-circle {
    overflow: hidden;
    width: 85px;
    text-align: center;
}
.panel-heading .img-circle img {
    margin-left: -100%;
    margin-right: -100%;
}

.list-inline > li:first-child {
    padding: 5px;
}

.navbar-inverse .navbar-form .input-group-btn .btn {
    color: #ffffff;
    background-color: #48c9b0;
    border-color: #48c9b0;
}

.input-group-btn .popover-content {
    font-size: 14px;
}

.loading {
    display: block;
    margin: auto;
}

understanding-slider label {
    padding: 0px !important;
}

#km .node:hover text {
    fill: #1abc9c;
}

#km .node text {
    fill: #16a085;
    transition: 0.25s;
}

#km .edgePath path {
    stroke: #ccc;
}

#km #arrowhead {
    fill: #ccc !important;
}

#km .node.concept rect {
    fill: #999;
}

#km .node.concept text {
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    fill: #fff;
}

/* Vertical progress bars */
.progress-vertical {
    float: left;
    overflow: visible;
    position: relative;
    width: 10px;
    min-height: 740px;
    margin: 0px;
    margin-right: 20px;
}
.progress-vertical .progress-bar {
    width: 10px;
}
/* A triangle indicating the current progress-bar segment */
.progress-bar.current {
    width: 30px;
    margin-left: -20px;

    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-left: 10px solid white;
}
