.progress-bar.understanding           , .resource.understanding            { background-color: #7f8c8d; color: white; }
.progress-bar.understanding-confusing , .resource.understanding-confusing  { background-color: #e74c3c; color: white; }
.progress-bar.understanding-unread    , .resource.understanding-unread     { background-color: #2c3e50; color: white; }
.progress-bar.understanding-starting  , .resource.understanding-starting   { background-color: #2980b9; color: white; }
.progress-bar.understanding-finishing , .resource.understanding-finishing  { background-color: #3498db; color: white; }
.progress-bar.understanding-understood, .resource.understanding-understood { background-color: #1abc9c; color: white; }

.concept.understanding            { color: #7f8c8d; border: 1px dashed #7f8c8d; }
.concept.understanding-confusing  { background-color: white; border-color: #e74c3c; color: #e74c3c;}
.concept.understanding-unread     { background-color: white; border-color: #2c3e50; color: #2c3e50;}
.concept.understanding-starting   { background-color: white; border-color: #2980b9; color: #2980b9;}
.concept.understanding-finishing  { background-color: white; border-color: #3498db; color: #3498db;}
.concept.understanding-understood { background-color: white; border-color: #1abc9c; color: #1abc9c;}
.concept.understanding-confusing > *  { color: #e74c3c; }
.concept.understanding-unread > *     { color: #2c3e50; }
.concept.understanding-starting > *   { color: #2980b9; }
.concept.understanding-finishing > *  { color: #3498db; }
.concept.understanding-understood > * { color: #1abc9c; }
