<ng-include src="'templates/header.html'"></ng-include>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Contact Us</h2>
        </div>
    </div> <!-- .row -->
    <div class="row">
        <div class="col-md-12">
            <p>All questions, comments, and inspired rants should go to <a>admin+feedback@coursestitch.com</a>.
            We'd love to hear from you!</p>
        </div>
    </div> <!-- .row -->
</div>

<hr />

<ng-include src="'templates/footer.html'"></ng-include>
