<header class="external-resource">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand course-stitch" href="#!/">
                <span class="course">course</span><span class="stitch">stitch</span>
            </a>
            <span class="navbar-brand beta">
                <span class="badge palette-peter-river">BETA</span>
            </span>
        </div>
    </nav>
</header>

<iframe class="external-resource" ng-src="{{ resourceURL }}">
</iframe>
