<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand course-stitch" href="#!/"><span class="course">course</span><span class="stitch">stitch</span></a>
        </div>
        <div class="collapse navbar-collapse" id="header-collapse">
            <ul class="nav navbar-nav"> 
                <li><a href="#!/maps">Knowledge Maps</a></li>
                <li class="dropdown" ng-if="user" ng-include="'templates/user-menu.html'"></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
</header>
