<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">course stitch</a>
        </div>
        <div class="collapse navbar-collapse" id="header-collapse">
            <ul class="nav navbar-nav"> 
                <li><a href="/maps">Knowledge Maps</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>          
            <form class="navbar-form navbar-right" action="#" role="search" style="width: 250px">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>            
                    </div>
                </div>               
            </form>
        </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
</header>
