<ng-include src="'templates/header.html'"></ng-include>

<div class="jumbotron">
    <div class="container">
        <h1 class="course-stitch"><span class="course">course</span><span class="stitch">stitch</span></h1>
        <div class="row">
            <div class="col-md-4">
                <h2>Tailor your online learning</h2>
            </div> <!-- .col-md-4 -->
        </div> <!-- .row -->
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" role="button" href="#!/maps">
                    Browse courses <span class="fui-arrow-right"></span>
                </a>
                <a class="btn btn-default btn-lg" role="button"
                   ng-click="createMap(user.id)">
                    Create your own
                </a>
            </div> <!-- .col-md-6 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</div> <!-- .jumbotron -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Browse</h4>
            <p>Look for anything you want to learn from our collection of expert-selected resources.</p>
        </div>
        <div class="col-md-4">
            <h4>Create</h4>
            <p>Create your own course by choosing the resources you want to use.</p>
        </div>
        <div class="col-md-4">
            <h4>Track</h4>
            <p>Keep track of your understanding, set goals, and visualise your progress in a custom layout.</p>
        </div>
    </div> <!-- .row -->
</div> <!-- .container -->

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Quality resources,
                <span class="text-muted">selected by experts.</span>
            </h3>
            <p>Our experts find the best available resources on the Internet on a wide range of topics. These resources are
            self-contained and manageable. You can look through them to find anything that you want to learn.</p>
        </div>
    </div>
    <div class="row">
        <img class="center-block img-responsive" src="lib/Flat-UI/images/icons/png/Book.png" alt="Image">
    </div>
</div> <!-- .container -->

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Create and customise
                <span class="text-muted">your own courses.</span>
            </h3>
            <p>Courses are collections of expert-selected resources with a particular outcome in mind. Create your own courses
            by choosing the most interesting resources, or customise existing courses to suit your needs.</p>
        </div>
    </div>
    <div class="row">
        <img class="center-block img-responsive" src="lib/Flat-UI/images/icons/png/Map.png" alt="Image">
    </div>
</div> <!-- .container -->

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Visualise and track
                <span class="text-muted">your progress.</span>
            </h3>
            <p>Whether you create your own course, or use or customise and existing one, you can track your understanding of
            each resource, set goals for yourself, and visualise your overall progress through the course.</p>
        </div>
    </div>
    <div class="row">
        <img class="center-block img-responsive" src="lib/Flat-UI/images/icons/png/Clipboard.png" alt="Image">
    </div>
</div> <!-- .container -->

<hr />

<footer class="footer">
    <div class="container">
        <div class="row">
            <p>&copy; Copyright 2014 course stitch &middot; <a href="#!">About</a> &middot; <a href="#!">Contact</a></p>
        </div>
    </div>
</footer>
