<ng-include src="'templates/header.html'"></ng-include>

<div class="jumbotron">
    <h1 class="course-stitch"><span class="course">course</span><span class="stitch">stitch</span></h1>
    <p>
        Navigate all of your online learning
    </p>
    <p>
        <a class="btn btn-primary btn-lg" role="button" href="#!/maps">
            Let's learn!
        </a>
        <a class="btn btn-default btn-lg palette-asbestos" role="button" href="#!/login">
            Signup
        </a>
    </p>
</div>
