<div class="panel">
    <div class="panel-heading palette-peter-river">
        <a ng-href="{{ makeURL(map) }}">
            <div class="panel-image">
                <div class="img-circle">
                    <img ng-src="{{ map.attributes.icon || 'lib/Flat-UI/images/icons/png/Book.png' }}" alt="{{ map.attributes.title }}">
                </div>
            </div>
            <h4 class="media-heading"
                ng-bind="map.attributes.title"></h4>
        </a>
    </div>
    <div class="panel-body">
        <p ng-bind="map.attributes.summary"></p>
    </div>
</div>
