<div class="page-header">
    <a ng-click="setView()" style="cursor: pointer;">
        <h1 ng-bind="map.attributes.title"></h1>
    </a>
    <button class="btn" ng-class="{'btn-primary': editMode, 'btn-default': !editMode}"
            ng-click="editMode = !editMode">
        <i class="glyphicon glyphicon-edit"></i>
    </button>
</div>

<div class="navbar navbar-inverse"
     ng-if="editMode">
    <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control"
                           placeholder="Paste in a resource url"
                           ng-model="newResourceUrl">
                    <span class="input-group-btn">
                        <action-button action="newResource(newResourceUrl, map.id)" label=""
                                       idle-style="btn-primary" success-style="btn-success"
                                       idle-icon="fui-plus" pending-icon="fui-time" success-icon="fui-check" error-icon="fui-cross">
                        </action-button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
