<div class="navbar navbar-inverse">
    <div class="navbar-brand navbar-header">
        <switch model="mapMode" on-label="map" off-label="list"></switch>
    </div>
    <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control"
                           placeholder="Paste in a resource url"
                           ng-model="newResourceUrl">
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                ng-disabled="!newResourceUrl"
                                ng-click="newResource(newResourceUrl, mapId)">
                            <i class="fui-plus"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
