<ng-include src="'templates/header.html'"></ng-include>

<article ng-switch="status">
    <div ng-switch-when="loaded">
        <ng-include src="'templates/map-header.html'"></ng-include>

        <div class="row">
            <div class="col-md-5 view"
                 ng-if="viewType && viewId"
                 ng-class="{resource: viewType == 'resource', concept: viewType == 'concept'}">
                <article ng-switch="viewType">
                    <div ng-switch-when="resource">
                        <resource map="map" resource="resource" concepts="concepts" set-view="setView">
                    </resource>
                    </div>
                    <div ng-switch-when="concept">
                        <concept map="map" concept="concept" set-view="setView"></concept>
                    </div>
                </article>
            </div>
            <div class="explorer" ng-class="{'col-md-7': viewType && viewId, 'col-xs-12': !(viewType && viewId)}">
                <ng-include src="'templates/map-controls.html'"></ng-include>
                <ng-include src="'templates/map-progress.html'" ng-hide="mapMode"></ng-include>
                <ng-include src="'templates/resources.html'" ng-hide="mapMode"></ng-include>
                <ng-include src="'templates/knowledge-map.html'" ng-show="mapMode"></ng-include>
            </div>
        </div>
    </div>

    <loading status="status" ng-switch-default></loading>
</article>
