<ng-include src="'templates/header.html'"></ng-include>

<article ng-switch="status">
    <div ng-switch-when="loaded">
        <ng-include src="'templates/map-header.html'"></ng-include>

        <div ng-switch="viewType">
            <div ng-switch-when="resource">
                <resource resource="resource" map="map"></resource>
            </div>

            <div ng-switch-when="concept">
                <concept concept="concept" map="map"></concept>
            </div>

            <div ng-switch-when="next">
                <h3>What's next</h3>
               
                <div class="row" ng-show="resources.length == 0">
                    <center>
                        <p>Looks like you've learned everything here! Try adding some new resources.</p>
                    </center>
                </div>
                <div class="row" ng-show="resources.length > 0">
                    <ng-include src="'templates/resources.html'"></ng-include>
                </div>
            </div>

            <div ng-switch-default>
                <div class="row" ng-show="resources.length == 0">
                    <center>
                        <p>This map is empty! Add some resources using the form above.</p>
                    </center>
                </div>
                <div class="row" ng-show="resources.length > 0">
                    <ng-include src="'templates/resources.html'"></ng-include>
                </div>
                <p class="row">
                    <span ng-if="completedResources(resources)">
                        Congratulations! You've learned all of the resources in your map.
                    </span>
                    <span ng-if="!completedResources(resources)">
                        Don't want to learn any of the above resources?
                    </span>
                    <span>
                        Take a look at <a ng-href="{{ makeURL(map) }}/next">what you can learn next.</a>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <loading status="status" ng-switch-default></loading>
</article>

<hr />

<ng-include src="'templates/footer.html'"></ng-include>
