<ng-include src="'templates/header.html'"></ng-include>

<h1>What would you like to learn?</h1>
<p>
    Choose one of the goals below and get started learning!
</p>

<div class="maps row">
    <div class="col-md-4"
         ng-repeat="map in maps"
         ng-include="'templates/map-summary.html'"></div>
    <loading ng-if="!maps"></loading>
</div>

<h1>My maps</h1>

<div class="maps row">
    <div class="col-md-4"
         ng-repeat="map in myMaps"
         ng-include="'templates/map-summary.html'"></div>
    <loading ng-if="!myMaps"></loading>
</div>

<hr />

<ng-include src="'templates/footer.html'"></ng-include>
