<div class="media">
    <a class="pull-left" ng-href="{{ resource.url }}">
        <img class="media-object" ng-src="{{ resource.image }}" alt="{{ resource.title }}" width="60px">
    </a>
    <div class="media-body">
        <blockquote>
            <div ng-switch="mode">
                <span ng-bind="resource.summary"
                      ng-switch-when="view"></span>
                <textarea class="form-control" rows="10"
                          ng-model="resource.summary"
                          ng-switch-when="edit"></textarea>
            </div>

            <a ng-href="{{ resource.url }}">
                <small ng-bind="resource.url"></small>
            </a>
        </blockquote>
    </div>
</div>
