<a href="#" ng-href="{{ resource.attributes.url }}" target="_blank">
    <button class="btn btn-primary"
            ng-class="{'btn-lg': size=='large', 'btn-sm': size=='small'}"
            ng-click="read()"
            ng-switch="resource.attributes.type">
        <span ng-switch-when="video">
            <i class="glyphicon glyphicon-facetime-video"></i>
            Watch now
        </span>
        <span ng-switch-default>
            <i class="glyphicon glyphicon-book"></i>
            Read now
        </span>
    </button>
</a>
