<ul class="nav nav-tabs nav-justified" role="tablist">
    <li ng-class="{active: !editMode}">
        <a href ng-click="setEditMode(false)">Resource</a>
    </li>
    <li ng-if="isEditor"
        ng-class="{active: editMode}">
        <a href ng-click="setEditMode(true)">Edit</a>
    </li>
</ul>

<div class="navbar navbar-default"
     ng-if="editMode">
    <div class="navbar-text">
        <action-button action="reset()" label="reset"
                       idle-style="btn-inverse"
                       idle-icon="glyphicon glyphicon-refresh" pending-icon="fui-time">
        </action-button>
        <action-button action="save()" label="save"
                       idle-style="btn-primary" success-style="btn-success"
                       idle-icon="glyphicon glyphicon-floppy-disk" pending-icon="fui-time" success-icon="fui-check" error-icon="fui-cross">
        </action-button>
    </div>
</div>
