<article ng-switch="status">
    <ng-include src="'templates/resource-controls.html'"></ng-include>

    <div ng-switch-when="loaded">
        <div class="resource">
            <ng-include src="'templates/resource-heading.html'"></ng-include>
            <ng-include src="'templates/resource-understanding.html'"></ng-include>
            <ng-include src="'templates/resource-preview.html'"></ng-include>
            <p class="text-center">
                <ng-include src="'templates/resource-read.html'"></ng-include>
            </p>
            <resource-concept-tags resource="resource" map="map" edit-mode="editMode"></resource-concept-tags>
        </div>
    </div>
    <loading status="status" ng-switch-default></loading>
</article>
