<div class="navbar navbar-default">
    <div class="navbar-brand navbar-header"
         ng-if="isEditor">
        <switch 
                model="editMode"
                on-change="toggleEditMode"
                on-label="edit"
                off-label="view"></switch>
    </div>

    <div class="navbar-text navbar-right pull-right"
         ng-if="editMode">
        <action-button action="reset()" label="reset"
                       idle-style="btn-inverse"
                       idle-icon="glyphicon glyphicon-refresh" pending-icon="fui-time">
        </action-button>
        <action-button action="save()" label="save"
                       idle-style="btn-primary" success-style="btn-success"
                       idle-icon="glyphicon glyphicon-floppy-disk" pending-icon="fui-time" success-icon="fui-check" error-icon="fui-cross">
        </action-button>
    </div>
</div>
