<div class="row">
    <div class="col-xs-12" ng-if="!editMode">
        <div class="panel-image">
            <div class="img-circle">
                <a ng-href="{{ resource.attributes.url }}">
                    <img ng-src="{{ resource | resourceImageURL }}" alt="{{ resource.attributes.title }}" width="60px">
                </a>
            </div>
        </div>
        <button class="btn pull-right" title="Edit resource"
                ng-click="setEditMode(true)">
            <i class="glyphicon glyphicon-edit"></i>
        </button>
    
        <a ng-href="{{ resource.attributes.url }}">
            <h2 class="resource {{ resource.understanding() | result | understandingClass }}">
                <span ng-bind="resource.attributes.title"></span>
                <small ng-bind="resource.attributes.subtitle"></small>
            </h2>
        </a>
    </div>

    <div class="col-xs-12" ng-if="editMode">
        <form role="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" class="form-control"
                       ng-model="resource.attributes.title"></input>

                <label for="subtitle">Subtitle</label>
                <input id="subtitle" class="form-control"
                       ng-model="resource.attributes.subtitle"></input>
            </div>
        </form>
    </div>
</div>
