<div class="navbar navbar-default">
    <div class="navbar-brand navbar-header">
        <switch model="$parent.editMode" on-label="edit" off-label="view"></switch>
    </div>
    <div class="navbar-text navbar-right pull-right"
          ng-show="mode == 'edit'">
        <action-button action="reset()" label="reset"
                       idle-style="btn-inverse"
                       idle-icon="fui-cross" pending-icon="fui-time">
        </action-button>
        <action-button action="save()" label="save"
                       idle-style="btn-primary" success-style="btn-success"
                       idle-icon="fui-check-inverted" pending-icon="fui-time" success-icon="fui-check">
        </action-button>
    </div>

    <div class="navbar-brand navbar-header navbar-right pull-right"
          ng-hide="mode == 'edit'">
        <switch
                model="$parent.$parent.$parent.inMap"
                on-icon="glyphicon glyphicon-plus"
                off-icon="glyphicon glyphicon-minus">
        </switch>
    </div>
</div>
