<div class="panel">
    <div class="panel-heading {{ resource.understanding() | understandingClass }}">
        <span class="pull-right">
            <button class="btn" title="{{ resource.inMap(map) ? 'Remove from map' : 'Add to map' }}"
                    ng-class="{'btn-primary': !resource.inMap(map),
                               'btn-danger':   resource.inMap(map)}"
                    ng-click="resource.toggleMap(map)">
                <i ng-class="{'glyphicon': true,
                              'glyphicon-plus': !resource.inMap(map),
                              'glyphicon-minus': resource.inMap(map)}"></i>
            </button>
        </span>
        <a ng-href="{{ makeURL(map, resource) }}">
            <div class="panel-image">
                <img ng-src="{{ resource.attributes.image || 'lib/Flat-UI/images/icons/png/Book.png' }}" alt="{{ resource.attributes.title }}" width="60px">
                <span class="label"
                      ng-bind-template="{{ resource.understanding() | understandingLabel }}">
                </span>
            </div>
            <h4>
                {{ resource.attributes.title }}
                <small ng-bind="resource.attributes.subtitle"></small>
            </h4>
        </a>
    </div>
    <div class="panel-body">
        <blockquote ng-bind="resource.attributes.summary">
        </blockquote>
    </div>
</div>
