<div ng-switch="mode">
    <a ng-href="{{ resource.url }}"
       ng-switch-when="view">
        <h2 class="media-heading"
            ng-bind="resource.title"></h2>
        <h3 class="media-heading"
            ng-bind="resource.subtitle"></h3>
    </a>
    <div ng-switch-when="edit">
        <form role="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" class="form-control"
                       ng-model="resource.title"></input>

                <label for="subtitle">Subtitle</label>
                <input id="subtitle" class="form-control"
                       ng-model="resource.subtitle"></input>
            <div>
        </form>
    </div>
</div>
