<div class="panel resource">
    <div class="panel-heading resource {{ resource.understanding() | result | understandingClass }}">
        <div class="pull-right text-right">
            <p>
                <resource-read resource="resource" map="map"></resource-read>
            </p>
            <p ng-hide="!resource.attributes.summary.trim()">
                <button class="btn btn-primary" title="{{ showSummary ? 'Hide summary' : 'Show summary' }}"
                        ng-click="showSummary = !showSummary">
                    <i class="glyphicon glyphicon-align-left"></i>
                    Info
                </button>
            </p>
        </div>
        <div class="panel-image">
            <div class="img-circle">
                <img ng-src="{{ resource | resourceImageURL }}" alt="{{ resource.attributes.title }}" width="60px">
            </div>
            <p ng-bind-template="{{ resource.understanding() | result | understandingLabel }}"></p>
        </div>
        <div class="">
            <a ng-href="{{ makeURL(map, resource) }}">
                <h4>
                    {{ resource.attributes.title }}
                    <small ng-bind="resource.attributes.subtitle"></small>
                </h4>
            </a>
            <resource-concept-tags resource="resource" map="map"></resource-concept-tags>
        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="panel-body" ng-show="showSummary">
        <blockquote ng-bind="resource.attributes.summary">
        </blockquote>
    </div>
</div>
