<div class="panel resource">
    <div class="panel-heading {{ resource.understanding() | result | understandingClass }}">
        <a href ng-click="setView(resource)">
            <div class="panel-image">
                <p ng-bind-template="{{ resource.understanding() | result | understandingLabel }}"></p>
                <div class="img-circle">
                    <img ng-src="{{ resource | resourceImageURL }}" alt="{{ resource.attributes.title }}" width="60px">
                </div>
            </div>
            <h4>
                {{ resource.attributes.title }}
                <small ng-bind="resource.attributes.subtitle"></small>
            </h4>
        </a>
        <div style="clear: both;"></div>
    </div>
    <div class="panel-body" ng-hide="true">
        <blockquote ng-bind="resource.attributes.summary">
        </blockquote>
    </div>
</div>
