<div class="row"
     ng-repeat="tagLabel in tags">
    <div class="col-xs-12">
        <h4 ng-bind="tagLabel"></h4>

        <div ng-switch="mode">
            <ul class="list-inline"
                ng-switch-when="view">
                <li ng-repeat="concept in resource.attributes[tagLabel]">
                    <a ng-href="{{ makeURL(map, concept) }}">
                        <span class="label {{ concept.understanding() | understandingClass }}"
                              ng-bind="concept.attributes.title"></span>
                    </a>
                </li>
            </ul>

            <div ng-switch-when="edit">
                <tags 
                      data-src="{value:kw, name: kw} as kw for kw in resource.attributes.keywords"
                      data-model="resource.tags[tagLabel]"></tags>
            </div>
        </div>
    </div>
</div>
