<article ng-switch="status">
    <ng-include src="'templates/resource-controls.html'"></ng-include>

    <div ng-switch-when="loaded">
        <div class="panel resource">
            <div class="panel-heading resource {{ resource.understanding() | result | understandingClass }}"
                 ng-include src="'templates/resource-heading.html'"></div>
            <div class="panel-body">
                <ng-include src="'templates/resource-preview.html'"></ng-include>
                <ng-include src="'templates/resource-understanding.html'"></ng-include>
                <resource-concept-tags resource="resource" edit-mode="editMode" set-view="setView"></resource-concept-tags>
            </div>
        </div>
    </div>
    <loading status="status" ng-switch-default></loading>
</article>
