<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Sign up or login with an external account</h1>
            <p>At the moment we only support one external provider per course stitch account. However,
            in the future we will support email signup as well as the ability to link all of your
            external accounts, and we intend to add quite a few more providers. Stay tuned!</p>
        </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-github" ng-click="authenticate('github')"><i class="icon-github-alt"></i>Authenticate with Github</button>
            <button class="btn btn-facebook" ng-click="authenticate('facebook')"><i class="icon-facebook-sign"></i>Authenticate with Facebook</button>
            <button class="btn btn-google" ng-click="authenticate('google')"><i class="icon-google-plus-sign"></i>Authenticate with Google</button>
        </div>
    </div>
</div> <!-- .container -->
