<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Sign up or login with an external account</h2>
        </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
    <div class="row">
        <div class="col-md-3">
            <button ng-click="authenticate('github')">Sign up with Github</button>
        </div>
        <div class="col-md-3">
            <button ng-click="authenticate('facebook')">Sign up with Facebook</button>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div> <!-- .container -->
